# Dependencies
node_modules
.next
out
build
dist

# Database
*.db
*.db-journal

# Logs
*.log

# Environment
.env
.env.local
.env*.local

# Storybook
storybook-static

# Misc
.DS_Store
*.pem

# Testing
coverage

# Prisma
prisma/migrations

